
# MTH3302 : Méthodes probabilistes et statistiques pour l'I.A.

Jonathan Jalbert<br/>
Professeur adjoint au Département de mathématiques et de génie industriel<br/>
Polytechnique Montréal<br/>

Le projet a été développé à l'aide de Alice Breton, étudiante à la maîtrise en génie informatique. Elle a suivi le cours lors de la session Hiver 2019.



# Projet : Débordement d'égouts

La description du projet est disponible à l'adresse suivante :
https://www.kaggle.com/t/a238b752c33a41d9803c2cdde6bfc929

Ce calepin Jupyter de base permet de charger et de nettoyer les données fournies. La dernière section détaille la génération du fichier des prédictions afin de le soumettre sur Kaggle dans le bon format.

Dans un premier temps, vous devrez récupérer l'archive *data.zip* sur Moodle. Ce dossier contient les fichiers suivants :
- surverses.csv
- precipitation.csv
- ouvrages-surverses.csv
- test.csv

Veuillez le décompresser dans le répertoire de ce calepin.

Le fichier *surverse.csv* répertorie s'il y a surverse (1) ou non (0) au cours de la journée pour les 170 ouvrages de débordement de 2013 à 2018 pour les mois de mai à octobre (inclusivement). Des renseignements additionnels sur les données sont disponibles à l'adresse suivante :

http://donnees.ville.montreal.qc.ca/dataset/debordement


Le fichier *precipitation.csv* contient les précipitations horaires en dixième de *mm* enregistrées à 5 stations pluviométriques de 2013 à 2019 :
- McTavish (7024745)
- Ste-Anne-de-Bellevue (702FHL8)
- Montreal/Pierre Elliott Trudeau Intl (702S006)
- Montreal/St-Hubert (7027329)
- L’Assomption (7014160)

Plus d'informations sur les précipitations sont disponibles à l'adresse suivante :

https://climat.meteo.gc.ca/climate_data/hourly_data_f.html?hlyRange=2008-01-08%7C2019-11-12&dlyRange=2002-12-23%7C2019-11-12&mlyRange=%7C&StationID=30165&Prov=QC&urlExtension=_f.html&searchType=stnName&optLimit=yearRange&StartYear=1840&EndYear=2019&selRowPerPage=25&Line=17&searchMethod=contains&Month=11&Day=12&txtStationName=montreal&timeframe=1&Year=2019

Le fichier *ouvrages-surverses.csv* contient différentes caractéristiques des ouvrages de débordement. 

http://donnees.ville.montreal.qc.ca/dataset/ouvrage-surverse

Le fichier *test.csv* contient les ouvrages et les jours pour lesquels vous devez prédire s'il y a eu surverse (true) ou non (false). Notez que l'on s'intéresse ici à 5 ouvrages de débordement localisés tout autour de l'Ile de Montréal :
- 3260-01D dans Rivière-des-Prairies 
- 3350-07D dans Ahunstic 
- 4240-01D dans Pointe-aux-Trembles 
- 4350-01D dans le Vieux-Montréal 
- 4380-01D dans Verdun

#### Remarque

Dans le projet, on ne s'intéresse qu'aux surverses occasionnées par les précipitations. On ignore les surverses occasionnées par 
- fonte de neige (F)
- travaux planifiés et entretien (TPL)
- urgence (U)
- autre (AUT)

On suppose que lorsqu'il n'y a pas de raison pour la surverse, il s'agit d'une surverse causée par les précipitations. Puisque Nous nous intéresserons uniquement aux surverses occasionnées par les précipitations liquides, nous ne considérons que les mois de mai à octobre inclusivement.

In [1]:
using CSV, DataFrames, Statistics, Dates, Gadfly, Missings

# Chargement des données et nettoyage préliminaire

## Chargement des surverses

In [2]:
data = CSV.read("data/surverses.csv",missingstring="-99999")
first(data,5)

5×4 DataFrame
│ Row │ NO_OUVRAGE │ DATE       │ SURVERSE │ RAISON  │
│     │ String     │ Date       │ Int64⍰   │ String⍰ │
├─────┼────────────┼────────────┼──────────┼─────────┤
│ 1   │ 0642-01D   │ 2013-05-01 │ 0        │ missing │
│ 2   │ 0642-01D   │ 2013-05-02 │ 0        │ missing │
│ 3   │ 0642-01D   │ 2013-05-03 │ 0        │ missing │
│ 4   │ 0642-01D   │ 2013-05-04 │ 0        │ missing │
│ 5   │ 0642-01D   │ 2013-05-05 │ 0        │ missing │

## Nettoyage des données sur les surverses

#### Extraction des surverses pour les mois de mai à octobre inclusivement

In [3]:
data = filter(row -> month(row.DATE) > 4, data) 
data = filter(row -> month(row.DATE) < 11, data) 
first(data,5)

5×4 DataFrame
│ Row │ NO_OUVRAGE │ DATE       │ SURVERSE │ RAISON  │
│     │ String     │ Date       │ Int64⍰   │ String⍰ │
├─────┼────────────┼────────────┼──────────┼─────────┤
│ 1   │ 0642-01D   │ 2013-05-01 │ 0        │ missing │
│ 2   │ 0642-01D   │ 2013-05-02 │ 0        │ missing │
│ 3   │ 0642-01D   │ 2013-05-03 │ 0        │ missing │
│ 4   │ 0642-01D   │ 2013-05-04 │ 0        │ missing │
│ 5   │ 0642-01D   │ 2013-05-05 │ 0        │ missing │

#### Remplacement des valeurs *missing* dans la colonne :RAISON par "Inconnue"

In [4]:
raison = coalesce.(data[:,:RAISON],"Inconnue")
data[!,:RAISON] = raison
first(data,5)

5×4 DataFrame
│ Row │ NO_OUVRAGE │ DATE       │ SURVERSE │ RAISON   │
│     │ String     │ Date       │ Int64⍰   │ String   │
├─────┼────────────┼────────────┼──────────┼──────────┤
│ 1   │ 0642-01D   │ 2013-05-01 │ 0        │ Inconnue │
│ 2   │ 0642-01D   │ 2013-05-02 │ 0        │ Inconnue │
│ 3   │ 0642-01D   │ 2013-05-03 │ 0        │ Inconnue │
│ 4   │ 0642-01D   │ 2013-05-04 │ 0        │ Inconnue │
│ 5   │ 0642-01D   │ 2013-05-05 │ 0        │ Inconnue │

#### Exlusion des surverses coccasionnées par d'autres facteurs que les précipitations liquides

Ces facteurs correspondent à : 
- la fonte de neige (F), 
- les travaux planifiés et entretien (TPL)
- urgence (U)
- autre (AUT)

In [5]:
data = filter(row -> row.RAISON ∈ ["P","Inconnue","TS"], data) 
select!(data, [:NO_OUVRAGE, :DATE, :SURVERSE])
first(data,5)
data

176667×3 DataFrame
│ Row    │ NO_OUVRAGE │ DATE       │ SURVERSE │
│        │ String     │ Date       │ Int64⍰   │
├────────┼────────────┼────────────┼──────────┤
│ 1      │ 0642-01D   │ 2013-05-01 │ 0        │
│ 2      │ 0642-01D   │ 2013-05-02 │ 0        │
│ 3      │ 0642-01D   │ 2013-05-03 │ 0        │
│ 4      │ 0642-01D   │ 2013-05-04 │ 0        │
│ 5      │ 0642-01D   │ 2013-05-05 │ 0        │
│ 6      │ 0642-01D   │ 2013-05-06 │ 0        │
│ 7      │ 0642-01D   │ 2013-05-07 │ 0        │
│ 8      │ 0642-01D   │ 2013-05-08 │ 0        │
│ 9      │ 0642-01D   │ 2013-05-09 │ 0        │
│ 10     │ 0642-01D   │ 2013-05-10 │ 0        │
⋮
│ 176657 │ 4560-02D   │ 2018-10-21 │ missing  │
│ 176658 │ 4560-02D   │ 2018-10-22 │ missing  │
│ 176659 │ 4560-02D   │ 2018-10-23 │ missing  │
│ 176660 │ 4560-02D   │ 2018-10-24 │ missing  │
│ 176661 │ 4560-02D   │ 2018-10-25 │ missing  │
│ 176662 │ 4560-02D   │ 2018-10-26 │ missing  │
│ 176663 │ 4560-02D   │ 2018-10-27 │ missing  │
│ 176664 │ 4560-02D   │ 2018-10-28 │ missing  │
│ 176665 │ 4560-02D   │ 2018-10-29 │ missing  │
│ 176666 │ 4560-02D   │ 2018-10-30 │ missing  │
│ 176667 │ 4560-02D   │ 2018-10-31 │ missing  │

#### Exclusion des lignes où :SURVERSE est manquante

In [6]:
surverse_df = dropmissing(data, disallowmissing=true);

In [7]:
n₁ = sum(x->x==1, surverse_df[:SURVERSE], dims=1) 
n₀ = sum(x->x==0, surverse_df[:SURVERSE], dims=1) 
n = n₀ + n₁

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[7]:1
└ @ Core In[7]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[7]:2
└ @ Core In[7]:2

1-element Array{Int64,1}:
 161098

In [8]:
filtervals = ["3260-01D"; "3350-07D"; "4240-01D"; "4350-01D"; "4380-01D"]
surverse_df1 = filter(row-> row.NO_OUVRAGE == filtervals[1], surverse_df)
surverse_df2 = filter(row-> row.NO_OUVRAGE == filtervals[2], surverse_df)
surverse_df3 = filter(row-> row.NO_OUVRAGE == filtervals[3], surverse_df)
surverse_df4 = filter(row-> row.NO_OUVRAGE == filtervals[4], surverse_df)
surverse_df5 = filter(row-> row.NO_OUVRAGE == filtervals[5], surverse_df);

In [9]:
#### on prend pour chaque ouvrage le nombre de fois ou il a eu surver et non
n₁ = Int64[]
n₀  = Int64[]
n  = Int64[]

0-element Array{Int64,1}

In [10]:
n1₁ = sum(x->x==1, surverse_df1[:SURVERSE], dims=1) 
push!(n₁, n1₁[1])
n1₀ = sum(x->x==0, surverse_df1[:SURVERSE], dims=1)  
push!(n₀, n1₀[1])
n1= n1₁[1] + n1₀[1]
push!(n, n1)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[10]:1
└ @ Core In[10]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[10]:3
└ @ Core In[10]:3

1-element Array{Int64,1}:
 1097

In [11]:
n1₁ = sum(x->x==1, surverse_df2[:SURVERSE], dims=1) 
push!(n₁, n1₁[1])
n1₀ = sum(x->x==0, surverse_df2[:SURVERSE], dims=1)  
push!(n₀, n1₀[1])
n1= n1₁[1] + n1₀[1]
push!(n, n1)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[11]:1
└ @ Core In[11]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[11]:3
└ @ Core In[11]:3

2-element Array{Int64,1}:
 1097
  729

In [12]:
n1₁ = sum(x->x==1, surverse_df3[:SURVERSE], dims=1) 
push!(n₁, n1₁[1])
n1₀ = sum(x->x==0, surverse_df3[:SURVERSE], dims=1)  
push!(n₀, n1₀[1])
n1= n1₁[1] + n1₀[1]
push!(n, n1)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[12]:1
└ @ Core In[12]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[12]:3
└ @ Core In[12]:3

3-element Array{Int64,1}:
 1097
  729
 1100

In [13]:
n1₁ = sum(x->x==1, surverse_df4[:SURVERSE], dims=1) 
push!(n₁, n1₁[1])
n1₀ = sum(x->x==0, surverse_df4[:SURVERSE], dims=1)  
push!(n₀, n1₀[1])
n1= n1₁[1] + n1₀[1]
push!(n, n1)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[13]:1
└ @ Core In[13]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[13]:3
└ @ Core In[13]:3

4-element Array{Int64,1}:
 1097
  729
 1100
 1100

In [14]:
n1₁ = sum(x->x==1, surverse_df5[:SURVERSE], dims=1) 
push!(n₁, n1₁[1])
n1₀ = sum(x->x==0, surverse_df5[:SURVERSE], dims=1)  
push!(n₀, n1₀[1])
n1= n1₁[1] + n1₀[1]
push!(n, n1)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[14]:1
└ @ Core In[14]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[14]:3
└ @ Core In[14]:3

5-element Array{Int64,1}:
 1097
  729
 1100
 1100
 1103

## Chargement des précipitations

In [52]:
data = CSV.read("data/precipitations.csv",missingstring="-99999")
rename!(data, Symbol("St-Hubert")=>:StHubert)
first(data,5)

5×7 DataFrame. Omitted printing of 1 columns
│ Row │ date       │ heure │ McTavish │ Bellevue │ Assomption │ Trudeau │
│     │ Date       │ Int64 │ Int64⍰   │ Int64⍰   │ Int64⍰     │ Int64⍰  │
├─────┼────────────┼───────┼──────────┼──────────┼────────────┼─────────┤
│ 1   │ 2013-01-01 │ 0     │ 0        │ 0        │ 0          │ 0       │
│ 2   │ 2013-01-01 │ 1     │ 0        │ 0        │ 0          │ 0       │
│ 3   │ 2013-01-01 │ 2     │ 0        │ 0        │ 0          │ 0       │
│ 4   │ 2013-01-01 │ 3     │ 0        │ 0        │ 0          │ 0       │
│ 5   │ 2013-01-01 │ 4     │ 0        │ 0        │ 0          │ 0       │

## Nettoyage des données sur les précipitations

#### Extraction des précipitations des mois de mai à octobre inclusivement

In [54]:
data = filter(row -> month(row.date) > 4, data) 
data = filter(row -> month(row.date) < 11, data) 
data = filter(row -> year(row.date) == 2019, data) ;

# Analyse exploratoire

Cette section consitue une analyse exploratoire superficielle permettant de voir s'il existe un lien entre les précipitations et les surverses.

Prenons arbitrairement l'ouvrage de débordement près du Bota-Bota (4350-01D). La station météorologique la plus proche est McTavish. Prenons deux variables explicatives simple :
- la somme journalière des précipitations
- le taux horaire maximum journalier de précipitations

#### Calcul de la quantité journalière de précipitations pour chacune des stations météorologiques

In [55]:
pcp_sum = by(data, :date,  McTavish = :McTavish=>sum, Bellevue = :Bellevue=>sum, 
   Assomption = :Assomption=>sum, Trudeau = :Trudeau=>sum, StHubert = :StHubert=>sum)
first(pcp_sum ,5)

5×6 DataFrame
│ Row │ date       │ McTavish │ Bellevue │ Assomption │ Trudeau │ StHubert │
│     │ Date       │ Int64⍰   │ Int64⍰   │ Int64⍰     │ Int64⍰  │ Int64⍰   │
├─────┼────────────┼──────────┼──────────┼────────────┼─────────┼──────────┤
│ 1   │ 2019-05-01 │ 79       │ 52       │ 58         │ 47      │ 68       │
│ 2   │ 2019-05-02 │ 26       │ 19       │ 15         │ 13      │ 17       │
│ 3   │ 2019-05-03 │ 34       │ 27       │ 34         │ 31      │ 44       │
│ 4   │ 2019-05-04 │ 2        │ 0        │ 0          │ 2       │ 0        │
│ 5   │ 2019-05-05 │ 0        │ 0        │ 0          │ 0       │ 0        │

In [56]:

for j=1:size(pcp_sum,1)
    means = 0
    sum = 0
    alo = names(pcp_sum)
    for col in alo
        if col != alo[1]
            if !ismissing(pcp_sum[j, col]) 
                sum = sum +1
                means = means + pcp_sum[j, col]
            end
        end
    end
    if sum != 0
        means = means / sum
    end
    for col in alo
        if ismissing(pcp_sum[j, col]) && col != alo[1]
            tests = floor(means)
            pcp_sum[j, col] = tests
        end
    end
end

#### Extraction du taux horaire journalier maximum des précipitations pour chacune des stations météorologiques

In [57]:
pcp_max = by(data, :date,  McTavish = :McTavish=>maximum, Bellevue = :Bellevue=>maximum, 
   Assomption = :Assomption=>maximum, Trudeau = :Trudeau=>maximum, StHubert = :StHubert=>maximum)
first(pcp_max,5)

5×6 DataFrame
│ Row │ date       │ McTavish │ Bellevue │ Assomption │ Trudeau │ StHubert │
│     │ Date       │ Int64⍰   │ Int64⍰   │ Int64⍰     │ Int64⍰  │ Int64⍰   │
├─────┼────────────┼──────────┼──────────┼────────────┼─────────┼──────────┤
│ 1   │ 2019-05-01 │ 24       │ 24       │ 15         │ 21      │ 22       │
│ 2   │ 2019-05-02 │ 12       │ 7        │ 7          │ 8       │ 10       │
│ 3   │ 2019-05-03 │ 12       │ 11       │ 14         │ 14      │ 15       │
│ 4   │ 2019-05-04 │ 2        │ 0        │ 0          │ 2       │ 0        │
│ 5   │ 2019-05-05 │ 0        │ 0        │ 0          │ 0       │ 0        │

In [58]:
for j=1:size(pcp_max,1)
    means = 0
    sum = 0
    alo = names(pcp_max)
    for col in alo
        if col != alo[1]
            if !ismissing(pcp_max[j, col]) 
                sum = sum +1
                means = means + pcp_max[j, col]
            end
        end
    end
    if sum != 0
        means = means / sum
    end
    for col in alo
        if ismissing(pcp_max[j, col]) && col != alo[1]
            tests = floor(means)
            pcp_max[j, col] = tests
        end
    end
end

In [59]:
pcp_max

184×6 DataFrame
│ Row │ date       │ McTavish │ Bellevue │ Assomption │ Trudeau │ StHubert │
│     │ Date       │ Int64⍰   │ Int64⍰   │ Int64⍰     │ Int64⍰  │ Int64⍰   │
├─────┼────────────┼──────────┼──────────┼────────────┼─────────┼──────────┤
│ 1   │ 2019-05-01 │ 24       │ 24       │ 15         │ 21      │ 22       │
│ 2   │ 2019-05-02 │ 12       │ 7        │ 7          │ 8       │ 10       │
│ 3   │ 2019-05-03 │ 12       │ 11       │ 14         │ 14      │ 15       │
│ 4   │ 2019-05-04 │ 2        │ 0        │ 0          │ 2       │ 0        │
│ 5   │ 2019-05-05 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 6   │ 2019-05-06 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 7   │ 2019-05-07 │ 3        │ 0        │ 0          │ 0       │ 0        │
│ 8   │ 2019-05-08 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 9   │ 2019-05-09 │ 45       │ 26       │ 55         │ 43      │ 32       │
│ 10  │ 2019-05-10 │ 66       │ 48       │ 50         │ 48      │ 50       │
⋮
│ 174 │ 2019-10-21 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 175 │ 2019-10-22 │ 31       │ 37       │ 37         │ 53      │ 28       │
│ 176 │ 2019-10-23 │ 58       │ 50       │ 50         │ 28      │ 65       │
│ 177 │ 2019-10-24 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 178 │ 2019-10-25 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 179 │ 2019-10-26 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 180 │ 2019-10-27 │ 102      │ 94       │ 94         │ 98      │ 83       │
│ 181 │ 2019-10-28 │ 3        │ 2        │ 2          │ 2       │ 2        │
│ 182 │ 2019-10-29 │ 0        │ 0        │ 0          │ 0       │ 2        │
│ 183 │ 2019-10-30 │ 0        │ 0        │ 0          │ 0       │ 0        │
│ 184 │ 2019-10-31 │ 0        │ 0        │ 0          │ 0       │ 0        │

#### Inclusion dans un dataframe de ces deux variables explicatives potentielles

In [49]:
ouvrage = "4350-01D"
moyenneSumSurverses = Float64[]
moyenneMaxSurverses = Float64[]
varianceSumSurverses = Float64[];
varianceMaxSurverses = Float64[];

moyenneSumNonSurverses = Float64[]
moyenneMaxNonSurverses = Float64[]
varianceSumNonSurverses = Float64[]
varianceMaxNonSurverses = Float64[]
for j=1:size(filtervals,1)
    dfSurverse = filter(row -> row.NO_OUVRAGE == filtervals[j]  && row.SURVERSE ==1, surverse_df)
    dfNonSurverse = filter(row -> row.NO_OUVRAGE == filtervals[j]  && row.SURVERSE ==0, surverse_df)


    moyenneSumSurverse = 0;
    moyenneMaxSurverse = 0;
    for i=1:size(dfSurverse,1)

        ind = findfirst(pcp_sum[:,:date] .== dfSurverse[i,:DATE])
        moyenneSumSurverse = moyenneSumSurverse +  pcp_sum[ind,:McTavish]
        
        ind = findfirst(pcp_max[:,:date] .== dfSurverse[i,:DATE])
        moyenneMaxSurverse = moyenneMaxSurverse +  pcp_max[ind,:McTavish]
    end
    moyenneSumSurverse = moyenneSumSurverse / size(dfSurverse,1)
    push!(moyenneSumSurverses, moyenneSumSurverse)
    moyenneMaxSurverse = moyenneMaxSurverse / size(dfSurverse,1)
    push!(moyenneMaxSurverses, moyenneMaxSurverse)
    
    moyenneSumNonSurverse = 0;
    moyenneMaxNonSurverse = 0;
    for i=1:size(dfNonSurverse,1)

        ind = findfirst(pcp_sum[:,:date] .== dfNonSurverse[i,:DATE])
        moyenneSumNonSurverse = moyenneSumNonSurverse +  pcp_sum[ind,:McTavish]
        
        ind = findfirst(pcp_max[:,:date] .== dfNonSurverse[i,:DATE])
        moyenneMaxNonSurverse = moyenneMaxNonSurverse +  pcp_max[ind,:McTavish]
    end
    moyenneSumNonSurverse = moyenneSumNonSurverse / size(dfNonSurverse,1)
    push!(moyenneSumNonSurverses, moyenneSumNonSurverse)
    moyenneMaxNonSurverse = moyenneMaxNonSurverse / size(dfNonSurverse,1)
    push!(moyenneMaxNonSurverses, moyenneMaxNonSurverse)
    
    
    #### maintenant la variance
    varianceSumSurverse = 0;
    varianceMaxSurverse = 0;
    for i=1:size(dfSurverse,1)

        ind = findfirst(pcp_sum[:,:date] .== dfSurverse[i,:DATE])
        varianceSumSurverse = varianceSumSurverse +  (pcp_sum[ind,:McTavish]-moyenneSumSurverse)^2

        ind = findfirst(pcp_max[:,:date] .== dfSurverse[i,:DATE])
        varianceMaxSurverse = varianceMaxSurverse +  (pcp_max[ind,:McTavish]-moyenneMaxSurverse)^2
    end
    varianceSumSurverse = varianceSumSurverse / size(dfSurverse,1)
    push!(varianceSumSurverses, varianceSumSurverse)
    varianceMaxSurverse = varianceMaxSurverse / size(dfSurverse,1)
    push!(varianceMaxSurverses, varianceMaxSurverse)
    
    varianceSumNonSurverse = 0;
    varianceMaxNonSurverse = 0;
    for i=1:size(dfNonSurverse,1)

        ind = findfirst(pcp_sum[:,:date] .== dfNonSurverse[i,:DATE])
        varianceSumNonSurverse = varianceSumNonSurverse +  (pcp_sum[ind,:McTavish]-moyenneSumNonSurverse)^2

        ind = findfirst(pcp_max[:,:date] .== dfNonSurverse[i,:DATE])
        varianceMaxNonSurverse = varianceMaxNonSurverse +  (pcp_max[ind,:McTavish]-moyenneMaxNonSurverse)^2
    end
    varianceSumNonSurverse = varianceSumNonSurverse / size(dfNonSurverse,1)
    push!(varianceSumNonSurverses, varianceSumNonSurverse)
    varianceMaxNonSurverse = varianceMaxNonSurverse / size(dfNonSurverse,1)
    push!(varianceMaxNonSurverses, varianceMaxNonSurverse)
   
end

5-element Array{Float64,1}:
 20596.022747849704
 15506.004930606281
 27187.445914723798
 21075.098072562352
 21825.605867346938

#### Traçage des distribution de la somme des précipitations en fonction des surverses ou non

On remarque que les deux distributions sont très différentes. Ceci suggère que la somme des précipitations à la station McTavish a un effet sur les surverses au Bota-Bota.

In [43]:
plot(df, x=:SURVERSE, y=:SUM, Geom.boxplot)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = evalmapping(::DataFrame, ::Symbol) at dataframes.jl:96
└ @ Gadfly C:\Users\elie_\.julia\packages\Gadfly\1wgcD\src\dataframes.jl:96

ArgumentError: ArgumentError: column name :SUM not found in the data frame

#### Traçage des distribution de la somme des précipitations en fonction des surverses ou non

On remarque que les deux distributions sont très différentes. Ceci suggère que le maximum journalier des précipitations à la station McTavish a un effet sur les surverses au Bota-Bota.

In [26]:
plot(df, x=:SURVERSE, y=:MAX, Geom.boxplot)

UndefVarError: UndefVarError: df not defined

# Création du fichier de prédictions pour soumettre sur Kaggle

Dans ce cas-ci, nous prédirons une surverse avec une probabilité de 1/2 sans considérer aucune variable explicative.

In [60]:

test = CSV.read("data/test.csv")
first(test,5)

5×2 DataFrame
│ Row │ NO_OUVRAGE │ DATE       │
│     │ String     │ Date       │
├─────┼────────────┼────────────┤
│ 1   │ 3260-01D   │ 2019-05-02 │
│ 2   │ 3260-01D   │ 2019-05-09 │
│ 3   │ 3260-01D   │ 2019-05-10 │
│ 4   │ 3260-01D   │ 2019-05-15 │
│ 5   │ 3260-01D   │ 2019-05-20 │

In [62]:
filtervals = ["3260-01D"; "3350-07D"; "4240-01D"; "4350-01D"; "4380-01D"]

    ind = findfirst(filtervals[:] .== "3260-01D")

1

In [27]:
surverse = bool[]

for j=1:size(filtervals,1)
    indproba = findfirst(filtervals[:] .== test[i,:NO_OUVRAGE])
    ind = findfirst(pcp_sum[:,:date] .== test[i,:DATE])
    sum = pcp_sum[ind,:McTavish]
    ind = findfirst(pcp_max[:,:date] .== test[i,:DATE])
    max = pcp_max[ind,:McTavish]
   
    
end
# Pour chacune des lignes du fichier test, comportant un ouvrage et une date, une prédiction est requise.
# Dans ce cas-ci, utilisons une prédiction les plus naîve. 
# On prédit avec une chance sur deux qu'il y ait surverse, sans utiliser de variables explicatives
n = size(test,1)
surverse = rand(n) .> .5


# Création du fichier sampleSubmission.csv pour soumettre sur Kaggle
ID = test[:,:NO_OUVRAGE].*"_".*string.(test[:,:DATE])
sampleSubmission = DataFrame(ID = ID, Surverse=surverse)
CSV.write("sampleSubmission.csv",sampleSubmission)

# Vous pouvez par la suite déposer le fichier sampleSubmission.csv sur Kaggle.
ID

283-element Array{String,1}:
 "3260-01D_2019-05-02"
 "3260-01D_2019-05-09"
 "3260-01D_2019-05-10"
 "3260-01D_2019-05-15"
 "3260-01D_2019-05-20"
 "3260-01D_2019-05-23"
 "3260-01D_2019-05-24"
 "3260-01D_2019-05-26"
 "3260-01D_2019-05-30"
 "3350-07D_2019-05-01"
 "3350-07D_2019-05-02"
 "3350-07D_2019-05-08"
 "3350-07D_2019-05-09"
 ⋮
 "4380-01D_2019-09-01"
 "4380-01D_2019-09-02"
 "4380-01D_2019-09-04"
 "4380-01D_2019-09-05"
 "4380-01D_2019-09-12"
 "4380-01D_2019-09-13"
 "4380-01D_2019-09-16"
 "4380-01D_2019-09-22"
 "4380-01D_2019-09-26"
 "4380-01D_2019-09-28"
 "4380-01D_2019-09-29"
 "4380-01D_2019-09-30"